In [2]:
import numpy as np
import pandas as pd

In [3]:
raw_data = { 'name' : ['kevin', 'sally', 'hoyeon', 'lux'],\
            'height' : [178.2, 162.9, 160.6, 156.2], \
            'gender' : ['male', 'female', 'female', None]}
pd_data = pd.DataFrame(raw_data)
pd_data.head()

   gender  height    name
0    male   178.2   kevin
1  female   162.9   sally
2  female   160.6  hoyeon
3    None   156.2     lux

In [4]:
filtered_data = pd_data.dropna()
filtered_data.head()

   gender  height    name
0    male   178.2   kevin
1  female   162.9   sally
2  female   160.6  hoyeon

In [7]:
del(filtered_data['name'])
filtered_data.head()

   gender  height
0    male   178.2
1  female   162.9
2  female   160.6

In [9]:
female_mean = np.average(filtered_data[filtered_data['gender'] == 'female']['height'].values)
male_mean = np.average(filtered_data[filtered_data['gender'] == 'male']['height'].values)
print(female_mean, male_mean)

161.75 178.2

In [10]:
np.random.seed(0)
variance=3
female_heights = variance *np.random.randn(200) + female_mean
male_heights = variance *np.random.randn(200) + male_mean

print(female_heights[:10])

[167.04215704 162.95047163 164.68621395 168.4726796  167.35267397
 158.81816636 164.60026525 161.29592838 161.44034344 162.98179551]

In [14]:
generated_data = {'gender':['female'] * 200 +['male']*200, 'height': list(female_heights)+list(male_heights)}
filtered_data = filtered_data.append(pd.DataFrame(generated_data), ignore_index=True)
filtered_data.head()

   gender      height
0    male  178.200000
1  female  162.900000
2  female  160.600000
3  female  167.042157
4  female  162.950472

In [16]:
from sklearn import preprocessing

le_gender = preprocessing.LabelEncoder()
final_data = filtered_data.copy()
final_data['gender'] = le_gender.fit_transform(filtered_data['gender'])

final_data.tail()

     gender      height
398       1  175.915523
399       1  180.773772
400       1  181.623306
401       1  182.599736
402       1  180.757656

In [17]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

features =

SyntaxError: invalid syntax (<ipython-input-17-588fe3296620>, line 4)